@import 'normalize.css';
@import 'fonts.css';
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.container--big {
  max-width: 100%;
  padding: 0 186px 0 87px;
  box-sizing: border-box;
}

.button {
  background-color: #DA5D24;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.02em;
  padding: 19px 35px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.header {
  padding: 37px 0;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 10;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__change-lang {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.change-lang__list {
  padding: 18px;
  margin: 0;
  list-style: none;
  display: flex;
  background-color: #ffffff;
  align-items: center;
}
.change-lang__item + .change-lang__item {
  margin-left: 12px;
}
.change-lang__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: rgba(6, 37, 91, 0.4);
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
}
.change-lang__link--is-current, .change-lang__link:hover {
  color: #06255b;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.change-lang__link img {
  margin-right: 6px;
}

.menu__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.menu__item + .menu__item {
  margin-left: 32px;
}
.menu__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #fff;
  text-decoration: none;
}

.hero {
  position: relative;
  min-height: 100dvh;
  overflow: hidden;
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 42%, 67% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0, 100% 42%, 67% 100%, 0% 100%);
}
.hero__content {
  position: relative;
  z-index: 100;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__row {
  display: flex;
  justify-content: flex-end;
}
.hero__right {
  width: 100%;
  padding-bottom: 45px;
  max-width: 550px;
  padding-right: 26px;
  box-sizing: border-box;
}
.hero:before {
  content: "";
  min-height: 50dvh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #06255b 0%, rgba(6, 37, 91, 0) 100%);
}
.hero:after {
  content: "";
  min-height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  background: linear-gradient(-270deg, #06255b 0%, rgba(6, 37, 91, 0) 100%);
}
.hero__cube {
  width: 618px;
  height: 618px;
  background-color: rgba(218, 93, 36, 0.8);
  transform: rotate(-45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: -25%;
  margin-top: -25px;
}
.hero__cube:after, .hero__cube:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translate3d(0, 0, 0);
}
.hero__cube:after {
  left: -24px;
  top: 24px;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.hero__cube:before {
  top: -24px;
  left: 24px;
  border: 1px solid rgba(255, 124, 64, 0.8);
}

.abilities__row {
  display: flex;
  flex-wrap: wrap;
}
.abilities__col--w100 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.abilities__col:not(.abilities__col--w100) {
  margin: 30px 0 -5px;
}

.abilities-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 21px;
  line-height: 85%;
  text-align: center;
  color: #fff;
  position: relative;
}
.abilities-item--type1 {
  height: 151px;
  width: 151px;
  color: #fff;
  font-size: 21px;
}
.abilities-item--type1:before, .abilities-item--type1:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}
.abilities-item--type1:before {
  border: 8px solid #fff;
  background: rgba(6, 37, 91, 0.7);
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.abilities-item--type1:after {
  border: 1px solid #fff;
  opacity: 0.6;
  bottom: 28px;
  left: 0;
  z-index: -2;
  transform: rotate(45deg);
}
.abilities-item--type2 {
  height: 124px;
  width: 124px;
  color: #fff;
  font-size: 22px;
}
.abilities-item--type2:before, .abilities-item--type2:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}
.abilities-item--type2:before {
  border: 9px solid #06255b;
  background: rgba(6, 37, 91, 0.7);
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.abilities-item--type2:after {
  height: 124px;
  border: 1px solid #ff7c40;
  opacity: 0.9;
  bottom: 7px;
  right: 27px;
  z-index: -2;
  transform: rotate(45deg);
}
.abilities-item--type3 {
  height: 177px;
  width: 177px;
  color: #fff;
  font-size: 24px;
}
.abilities-item--type3:before, .abilities-item--type3:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}
.abilities-item--type3:before {
  border: 10px solid #da5d24;
  background: rgba(6, 37, 91, 0.7);
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.abilities-item--type3:after {
  border: 1px solid #fff;
  opacity: 0.9;
  bottom: -27px;
  left: -1px;
  z-index: -2;
  transform: rotate(45deg);
}

.services {
  position: relative;
  padding: 72px 0 76px;
}
.services:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #06255b;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 0% 100%, 66.9% 0);
          clip-path: polygon(0 0, 0% 100%, 66.9% 0);
}
.services__head {
  position: relative;
  max-width: 408px;
  padding-left: 143px;
}
.services__decor {
  position: absolute;
  height: 714px;
  width: 714px;
  top: -360px;
  right: -357px;
  transform: rotate(-45deg);
  background-color: #f7f9fc;
  box-sizing: border-box;
}
.services__formula {
  mix-blend-mode: darken;
  transform: rotate(45deg) translateX(170px) translateY(32px);
}
.services__title {
  margin: 0 0 24px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #fff;
}
.services__desc {
  font-weight: 400;
  font-size: 25px;
  line-height: 110%;
  color: #fff;
}
.services__row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 1110px;
  margin-top: -250px;
  padding-left: 55px;
  box-sizing: border-box;
  padding-top: 32px;
}
.services__row:after {
  content: "";
  position: absolute;
  bottom: -33.4%;
  right: -27.2%;
  height: 498px;
  width: 715px;
  background: url(../img/ggg.png) no-repeat center center;
  z-index: -1;
}
.services__col {
  width: 20%;
  margin: -30px 0;
}
.services__formula-bottom {
  position: relative;
  display: block;
  margin: 170px 0 32px 57px;
}
.services__scroll {
  max-width: 221px;
  margin: 0 auto;
  text-align: center;
}
.services__scroll svg {
  display: block;
  margin: 21px auto 0;
}

.services-item {
  height: 264px;
  width: 264px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.services-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 0.99px solid #d5d5d5;
  background-color: #fff;
  transform: rotate(45deg);
}
.services-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #313131;
  margin-bottom: 10px;
  position: relative;
}
.services-item svg {
  position: relative;
}

.expertise__row {
  display: flex;
  background: url(../img/Group\ 2364.svg) repeat-x center bottom;
}
.expertise__col {
  width: 100%;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}
.expertise__col + .expertise__col {
  border-left: none;
}
.expertise-item {
  position: relative;
  perspective: 1000px;
  height: 100%;
  transition: 0.3s;
}
.expertise-item:hover img {
  opacity: 1;
  transform: rotateY(0);
  visibility: visible;
  box-shadow: 0 15px 90px 0 rgba(19, 47, 79, 0.25);
}
.expertise-item:hover .expertise-item__counter {
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.expertise-item:hover .expertise-item__counter svg {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.expertise-item:hover .expertise-item__counter svg path {
  fill: #fff !important;
}
.expertise-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
  transform: rotateY(180deg);
  -o-object-fit: cover;
     object-fit: cover;
}
.expertise-item__body {
  position: relative;
  z-index: 10;
  padding: 55px 32px 152px 42px;
  box-sizing: border-box;
}
.expertise-item__counter {
  position: relative;
  display: inline-block;
  font-weight: 800;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #da5d24;
  transition: 0.3s;
}
.expertise-item__counter svg {
  position: absolute;
  top: 100%;
  left: 100%;
  transition: 0.3s;
}
.expertise-item__name {
  margin-top: 195px;
  font-weight: 800;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #2f3034;
}