@import 'normalize.css';
@import 'fonts.css';

$sans: 'Source Sans Pro';
$roboto: 'Roboto';
$milish: 'Mulish';
$minion: 'Minion Pro';

body{
    font-family: $sans, sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;

    &--big{
        max-width: 100%;
        padding: 0 186px 0 87px;
        box-sizing: border-box;
    }
}
.button{
    background-color: #DA5D24;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.02em;
    padding: 19px 35px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: center;

}
.header{
    padding: 37px 0;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 10;

    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__change-lang{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.change-lang{
    &__list{
        padding: 18px;
        margin: 0;
        list-style: none;
        display: flex;
        background-color: #ffffff;
        align-items: center;
       
    }
    &__item + &__item{
        margin-left: 12px;
    }
    &__link{
            font-weight: 400;
            font-size: 15px;
            line-height: 120%;
            letter-spacing: 0.01em;
            color: rgba(#06255b, 0.4);
            display: flex;
            align-items: center;
            text-decoration: none;
        
            transition: .3s;
            

            &--is-current,
            &:hover{
                color: #06255b;
                text-decoration: underline;
                text-decoration-skip-ink: none;
            }
            img{
                margin-right: 6px;
            }
    }
}
.menu{
    &__list{
        padding: 0;
                margin: 0;
                display: flex;
                list-style: none;

            }
            &__item + &__item{
                margin-left: 32px;
            }
            &__link{
                font-weight: 400;
                font-size: 15px;
                line-height: 120%;
                letter-spacing: 0.01em;
                color: #fff;
                text-decoration: none;
            }
        }

.hero{
    position: relative;
    min-height: 100dvh;

    overflow: hidden;

    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        clip-path: polygon(0% 0%, 100% 0, 100% 42%, 67% 100%, 0% 100%);
        }
    &__content{
    position: relative;
    z-index: 100;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    }

    &__row{
        display: flex;
        justify-content: flex-end;
    }
    &__right{
        
        width: 100%;
        padding-bottom: 45px;
        max-width: 550px;
        padding-right: 26px;
        box-sizing: border-box;
    }
    &:before{
                content: '';
                min-height: 50dvh;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(180deg, #06255b 0%, rgba(6, 37, 91, 0) 100%);
    }
    &:after{
                content: '';
                min-height: 100dvh;
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                background: linear-gradient(-270deg, #06255b 0%, rgba(6, 37, 91, 0) 100%);
                
    }

    &__cube{
                width: 618px;
                height: 618px;
                background-color: rgba(#DA5D24, 0.8);
                transform: rotate(-45deg) translateY(-50%);
                position: absolute;
                top: 50%;
                right: -25%;
                margin-top: -25px;
                &:after,
                &:before{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    transform: translate3d(0, 0, 0);
               
                }
                &:after{
                    left: -24px;
                    top: 24px;
                    border: 1px solid rgba(#fff, 0.8);
                }
    
                &:before{
                    top: -24px;
                    left: 24px;
                    border: 1px solid rgba(#ff7c40, 0.8);
                }
    }




}

.abilities{
    &__row{
        display: flex;
        flex-wrap: wrap;
    }
    &__col{
        &--w100{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &:not(.abilities__col--w100){
            margin: 30px 0 -5px;
        }
    }
}
        .abilities-item{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 900;
            font-size: 21px;
            line-height: 85%;
            text-align: center;
            color: #fff;
            position: relative;

            &--type1{
                height: 151px;
                width: 151px;
                color: #fff;
                font-size: 21px;
                &:before,
                &:after{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
                &:before{
                    border: 8px solid #fff;
                    background: rgba(6, 37, 91, 0.7);
                    z-index: -1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &:after{
                    border: 1px solid #fff;
                    opacity: 0.6;
                    bottom: 28px;
                    left: 0;
                    z-index: -2;
                    transform: rotate(45deg);
                }
            }
            &--type2{
                height: 124px;
                width: 124px;
                color: #fff;
                font-size: 22px;
                &:before,
                &:after{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
                &:before{
                    border: 9px solid #06255b;
                    background: rgba(6, 37, 91, 0.7);
                    z-index: -1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &:after{
                    height: 124px;
                    border: 1px solid #ff7c40;
                    opacity: 0.9;
                    bottom: 7px;
                    right:27px;
                    z-index: -2;
                    transform: rotate(45deg);
                }
            }
            &--type3{
                height: 177px;
                width: 177px;
                color: #fff;
                font-size: 24px;
                &:before,
                &:after{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
                &:before{
                    border: 10px solid #da5d24;
                    background: rgba(6, 37, 91, 0.7);
                    z-index: -1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &:after{
                    border: 1px solid #fff;
                    opacity: 0.9;

                    bottom: -27px;
                    left:-1px;
                    z-index: -2;
                    transform: rotate(45deg);
                }
            }
        }

